<% require "aws/s3" %>
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Dashboard</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">


  <!-- CSS : implied media="all" -->
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "jquery.fancybox-1.3.4" %>


  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <%= javascript_include_tag "libs/modernizr-1.6.min" %>

</head>

<body>
    <div class="header">
      <%= image_tag "logo.png" %>
      <ul>
        <li><a href="#"  class="selected">Dashboard</a></li>
        <li><a href="#">Admin</a></li>
      </ul>
    </div>

	<div class="container">
        <div class="content">
            <h2>Dashboard</h2>
            <div class="project-list">
                <h3>Projects<span class="menu-button"><a href="/projects/new" class="small orange gradient-button" title="">+ Create Project</a></span></h3>
                <ul>
                    <% @buckets. each do |bucket|  %>
			        <li>
                        <a href="/filelist/<%= bucket.name %>"><%= bucket.name %></a>
                        <!-- This sub item list is just a place holder do not implement it. Still need to decide what comes here -->
                        <ul class="sub-items">
                            <li>Documents: <%= bucket.objects.count() %></li>
                            <li>Status:Onschedule</li>
                        </ul>
                    </li>
                    <% end %>
                </ul>
		    </div>
            <div class="activity-stream">
          <h3>Activity Stream</h3>
          <ul>
            <li>A list of recent updates/activities comes here</li>
            <li>An example would be new document uploaded by client name from company name</li>
            <li>An example would be new mail sent by client name from company name</li>
            <li>An example would be new comment added to file name by persons name</li>
          </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="create_project_box_container"></div>
    <div class="create_project_box"></div>
</div>

<!--Body !-->
<!--! end of #container -->

    <!-- Javascript at the bottom for fast page loading -->



    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>


  <!-- scripts concatenated and minified via ant build script-->
  <%= javascript_include_tag "plugins" %>
  <%= javascript_include_tag "script" %>
  <!-- end concatenated and minified scripts-->


  <!--[if lt IE 7 ]>
    <%= javascript_include_tag "libs/dd_belatedpng" %>

    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->

  <!-- yui profiler and profileviewer - remove for production -->
  <%= javascript_include_tag "profiling/yahoo-profiling.min" %>
  <%= javascript_include_tag "profiling/config" %>
  <!-- end profiling code -->


    <%= javascript_include_tag "libs/jquery-1.4.2.min" %>
    <%= javascript_include_tag "jquery.mousewheel-3.0.4.pack" %>
    <%= javascript_include_tag "jquery.fancybox-1.3.4.pack" %>
    <%= javascript_include_tag "dashboard" %>

  <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
       change the UA-XXXXX-X to be your site's ID -->
  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>

</body>
</html>
